# See http://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules
yarn.lock
package-lock.json

# Build
dist
storybook-static

# Misc
.vscode
.DS_Store
*.orig
.eslintcache
coverage
